body {font: 16px normal "Raleway", Sans-Serif; padding:10px; background:#3360E8;}
input {padding:5px; border:1px solid #D5DAE8;}

#container {width:500px; margin:0 auto;}
header {color:#fff; overflow:hidden;}
#title {font-size:5em; line-height:1; text-shadow:2px 2px 0px #2343A1; margin:0; float:left;}
#subtitle {font-size:0.8em; text-shadow:2px 2px 0px #2343A1; padding:20px; float:right;} 
form {padding:40px; background:#fff; border-radius:8px; box-shadow:0 0 30px #2343A1;}
.wrap {margin:0 0 20px 0;}

#result {margin:20px 0px; padding:10px;}
#credits {color:#A0B2E8; text-align:center;}
#credits a {color:#fff;}

/* Validation */
.field-validation-error {color:#f00;}
.field-validation-valid {display:none;}
.input-validation-error {border:1px solid #f00; background-color:#fee;}
.validation-summary-errors {font-weight:bold; color:#f00; display:block;}
.validation-summary-valid {display:none;}
