/* GLOBALS */
body {font:400 16px "Raleway", Sans-Serif; padding:10px; background:#3360E8;}
input[type="text"] {width:auto; padding:0.5em; border:1px solid #D5DAE8;}
input[type="radio"] {display:inline;}

/* PAGE LAYOUT */
#container {width:500px; margin:0 auto; overflow:hidden;}
header {color:#fff; overflow:hidden;}
#title {font-size:5em; font-weight:900; line-height:1; text-shadow:2px 2px 0px #2343A1; margin:0; float:left;}
#subtitle {font-size:0.8em; text-shadow:2px 2px 0px #2343A1; padding:30px 0; float:right;} 
form {padding:40px; background:#fff; border-radius:8px; box-shadow:0 0 30px #2343A1; overflow:hidden;}
.wrap {background:#eee; margin:0 0 1.5em 0; padding:0.5em; border-radius:6px; overflow:hidden;}

/* FORM LAYOUT */
#weightWrap {}
#heightWrap {}
#birthWrap {width:48%; margin:0 4% 0 0; float:left;}
#appointmentWrap {width:48%;float:right;}
#genderWrap {}
#raceWrap {}
#triglycerideWrap {width:48%; margin:0 4% 0 0; float:left;}
#hdlWrap {width:48%; float:right;}
#sbpWrap {width:48%; margin:0 4% 0 0; float:left;}
#glucoseWrap {width:48%; float:right;}

#calculateWrap {margin:0;}
#calculateWrap button {font-size:1em; padding:2px 6px; float:left;}
#result {text-align:center; margin:1.5em 0 0 0; display:none;}
#result table {width:100%;}
#result table td {padding:10px;}
.resultNum {font-size:2em;}

/* FOOTER LAYOUT */
#credits {color:#A0B2E8; text-align:center; margin:20px 0 40px 0;}
#credits a {color:#fff;}

/* VALIDATION */
.field-validation-error {font-size:0.8em; text-align:center; margin:10px 0 0 0; padding:10px; background:#FCF0AD; border-radius:3px; display:block;}
.field-validation-valid {font-size:0.8em; display:none;}
.input-validation-error {font-size:0.8em; border:0px solid #f00; background:#fee;}
.validation-summary-errors {font-weight:bold; color:#f00; display:block;}
.validation-summary-valid {display:none;}
